{% extends "base.html" %}

{% block content %}

<html>
        <head>
            <h2>Blog Posts</h2>
        </head>
        <body>

            {% for blog_post in blog %}
                <div class='blog'>
                 
                    <div class='blog-title'>Title:  {{ blog_post.title }}</div>
                    <pre class='blog-body'>{{ blog_post.blog_post }}<br><br>Created on:  {{ blog_post.created }}</pre>
                    <hr>
                </div> 
            {% endfor %}

        </body>
</html>

{% endblock %}
